@media screen and (min-widht:480px) {
    .container {
        max-width: 428px;
    } 

    .mob-menu {
    display: block;
}

    .test > .container {
        max-width: 426px;
    }
}
    
    @media screen and (min-width:480px) {
.backdrop.is-hidden .modal {
    transform: translate(-50%) scale(1.2);
    }
.modal{
    max-width:392px;
    position: absolute;
    top: 96px;
    left: 50%;
    transform: translateX(-50%);
}

}



